.buttons-group {
  display: flex;
  flex-direction: column;
  align-items: center
}

.buttons-group__comment-btn {
  border: 0 none;
  background: black;
  color: white;
  border-radius: 2px;
  /* box-shadow: 5px 5px 5px #888888; */
  z-index: 500;
}

.buttons-group__down-arrow-tip {
  width: 12px;
  height: 12px;
  margin-top: -2px;
  background: black;
  z-index: 500;
  clip-path: polygon(0% 0%, 50% 50%, 100% 0%);
}
